/* Global */
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Miranda+Sans:ital,wght@0,400..700;1,400..700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap");

/* Variáveis de Cores */
:root {
  --main-color: #7647f5;
  --txt-color: #fff;
  --txt-color-alt: #000;
  --bg: #131331;
  --bg-card: #111129;
  --border: 0.1rem solid rgba(255, 255, 255, 0.1);
  --gradient: linear-gradient(180deg, var(--main-color), #341786);
  --header-height: 6.1rem;
}

* {
  font-family: "Lato", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none;
  transition: 0.2s linear;
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
  scroll-padding-top: 9rem;
  scroll-behavior: smooth;
}

html::-webkit-scrollbar {
  width: 0.6rem;
}

html::-webkit-scrollbar-thumb {
  background: var(--txt-color);
  border-radius: 5rem;
}

html::-webkit-scrollbar-track {
  background: transparent;
}

body {
  background-color: var(--bg);
  font-size: 1.6rem;
  line-height: 1.4;
}

header,
section,
footer {
  padding: 1rem 36.4rem;
}

h1 {
  font-size: 9.91rem;
  text-transform: uppercase;
  text-align: center;
}

h2 {
  font-size: 2.3rem;
}

p {
  font-size: 1.6rem;
}

h1,
h2,
h3,
h4,
h5,
h6,
a,
p,
ion-icon {
  color: var(--txt-color);
}

a:hover {
  color: var(--main-color);
}

ul {
  list-style-type: none;
}

.about,
.skills {
  padding-top: 2.5rem;
}

.btn {
  display: flex;
  flex-flow: row;
  justify-content: center;
  align-items: left;
  font-size: 1.6rem;
  gap: 0.82rem;
  padding: 0.42rem 1.02rem;
  background: var(--gradient);
  color: var(--txt-color);
  border-radius: 0.33rem;
  font-weight: 700;
  cursor: pointer;
}

.btn ion-icon {
  height: inherit;
}

.btn:hover {
  background: var(--txt-color);
  color: var(--gradient);
  & ion-icon {
    color: var(--gradient);
  }
}

.title {
  display: flex;
  flex-flow: column;
  align-items: center;
  gap: 0.21rem;
  & h2 {
    color: var(--main-color);
  }
}

.h2-line {
  background-color: var(--txt-color);
  width: 10%;
  height: 0.05rem;
}

.bold {
  font-weight: 700;
}

/* Cards */
.cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(23.2rem, 1fr));
  gap: 2rem;
}

.card-container {
  display: flex;
  flex-flow: column;
  background-color: var(--bg-card);
  border: var(--border);
  padding: 1.28rem 3.9rem;
  border-radius: 0.52rem;
  gap: 1.6rem;
  align-items: center;
}

.card-title {
  color: var(--txt-color);
  text-align: center;
  font-weight: 700;
}

.card-description {
  font-size: 1.6rem;
}

.card-badge {
  display: flex;
  flex-flow: column;
  gap: 0.42rem;
  width: 100%;
}

.card-buttons {
  display: flex;
  flex-flow: column;
  gap: 2rem;
  align-items: center;
}

.card-btn {
  width: max-content;
}

/* Badges */
.badge {
  color: var(--txt-color);
  display: flex;
  flex-flow: row;
  align-items: center;
  font-size: 1.6rem;
  gap: 0.33rem;
  border-radius: 0.5rem;
  padding: 0.21rem 1.6rem;
  font-weight: 700;
  border: var(--border);
  background-color: var(--bg-card);
  opacity: 100%;
}

.badge:hover {
  opacity: 150%;
}

.badge-powerbi,
.badge-python,
.badge-js {
  background-color: rgba(255, 193, 7, 0.2);
  border: 0.15rem solid rgba(255, 193, 7, 1);
}

.badge-excel,
.badge-dataverse,
.badge-progress4gl {
  background-color: rgba(31, 114, 68, 0.2);
  border: 0.15rem solid rgba(31, 114, 68, 1);
}

.badge-vba,
.badge-powerapps {
  background-color: rgba(163, 56, 182, 0.2);
  border: 0.15rem solid rgba(163, 56, 182, 1);
}

.badge-sql,
.badge-html {
  background-color: rgba(228, 76, 38, 0.2);
  border: 0.15rem solid rgba(228, 76, 38, 1);
}

.badge-erp,
.badge-css,
.badge-powerautomate {
  background-color: rgba(38, 76, 228, 0.2);
  border: 0.15rem solid rgba(38, 76, 228, 1);
}

/* Header*/
.header {
  background-color: var(--bg);
  display: flex;
  flex: column;
  align-items: center;
  justify-content: space-between;
  border-bottom: var(--border);
  position: fixed;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  height: 6.1rem;
}

.header-photo {
  width: 3.9rem;
  height: 3.9rem;
  border-radius: 50%;
  border: var(--border);
}

.header-photo:hover {
  border-radius: 25%;
}

.navbar-ul {
  display: flex;
  gap: 0.82rem;
  text-transform: uppercase;
  font-weight: 700;
}

.icons {
  display: flex;
  gap: 0.82rem;
  align-items: center;
}

.icons ion-icon {
  color: var(--txt-color);
  font-size: 2.76rem;
}

.icons ion-icon:hover {
  color: var(--main-color);
}

/* Home */
.home {
  margin-top: 6.1rem;
  position: relative;
  min-height: calc(100vh - 6.1rem);
  display: flex;
  align-items: center;
  justify-content: center;
  background: url(assets/images/home.jpg) no-repeat;
  background-size: cover;
  background-position: center;
}

.home::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  z-index: 1;
}

.home-content {
  position: relative;
  z-index: 2;
  display: flex;
  flex-flow: row;
  align-items: center;
  justify-content: center;
}

.home-photo {
  width: 36.4rem;
}

.home-photo img {
  width: 100%;
  height: 100%;
  border-radius: 45%;
  filter: brightness(0.9);
}

.home-photo img:hover {
  filter: brightness(1.1);
}

.home-text {
  display: flex;
  flex-flow: column;
  align-items: center;
  gap: 2rem;
}

.home-text div {
  text-align: center;
}

.hr-line {
  background-color: #fff;
  width: 80%;
  height: 0.13rem;
  justify-self: center;
}

.home-buttons {
  display: flex;
  gap: 0.33rem;
}

.arrow-navigate {
  display: inline-block;
  animation: bounce 1s infinite;
}

/* About */
.about {
  display: flex;
  flex-flow: column;
  gap: 1.6rem;
}

.about-content {
  display: flex;
  flex-flow: row;
}

.about-text {
  display: flex;
  flex-flow: column;
  gap: 1.28rem;
  text-align: justify;
}

.about-photo {
  width: 29.1rem;
  transform: translateY(-3.9rem);
}

.about-photo img {
  width: 100%;
  height: 100%;
  border-radius: 45%;
}

/* Skills */
.skills {
  display: flex;
  flex-flow: column;
  gap: 1.6rem;
  margin-top: -4.2rem;
}

/* Projects */
.projects {
  display: flex;
  flex-flow: column;
  gap: 1.6rem;
}

.projects .cards {
  grid-template-columns: repeat(auto-fit, minmax(29.1rem, 1fr));
}

.projects .card-container {
  justify-content: space-between;
}

.projects .card-badge {
  display: flex;
  flex-flow: row;
  justify-content: center;
}

.projects .card-image {
  width: 100%;
}

/* Contato */
.contact {
  display: flex;
  flex-flow: column;
  gap: 1.6rem;
  text-align: center;
  padding-bottom: 3rem;
}

.contact .cards {
  align-items: left;
}

.contact ion-icon {
  color: var(--main-color);
  font-size: 4.88rem;
}

.contact ion-icon:hover {
  color: var(--txt-color);
}

/* footer */
.footer {
  background-color: var(--bg);
  display: flex;
  flex: column;
  width: 100vw;
  text-align: center;
  border-top: var(--border);
}

.footer p {
  width: 100%;
}

/* Media Queries */
@media (max-width: 1440px) {
  header,
  section,
  footer {
    padding: 1.02rem 18.6rem;
  }
}

@media (max-width: 1280px) {
  .header,
  section,
  .footer {
    padding: 1.02rem 1.19rem;
  }
}

@media (max-width: 1024px) {
  .header,
  section,
  .footer {
    padding: 1.02rem 4.2rem;
  }
}

@media (max-width: 768px) {
  html {
    font-size: 56.25%;
  }

  header,
  section,
  footer {
    padding: 1.02rem 2rem;
  }

  .navbar {
    display: none;
  }

  .home-content {
    flex-flow: column;
  }

  .home-photo {
    width: 23.2rem;
  }

  .home-photo img {
    width: 100%;
    height: 100%;
  }

  .about-content {
    display: flex;
    flex-flow: column;
    align-items: center;
  }

  .about-photo {
    width: 23.2rem;
    transform: translateY(1.02rem);
  }

  .skills {
    margin-top: 0rem;
  }
}

@media (max-width: 556px) {
  .projects .card-badge {
    flex-flow: column;
  }

  .projects .badge,
  .card-buttons,
  .card-btn {
    width: 100%;
  }
}

/* keyframes */
@keyframes bounce {
  0%,
  100% {
    transform: translateY(0);
  }
  30% {
    transform: translateY(8px);
  }
  60% {
    transform: translateY(4px);
  }
}

/* .header,
.home,
.about,
.skills,
.projects,
.contact,
.footer {
  display: none;
} */
